<html>
<head>
<title>Chat Room</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function() {
	var socket = io.connect('http://192.168.1.39:5000');
	
	socket.on('connect', function() {
		socket.send('User has connected!');
	});
	socket.on('message', function(msg) {
		$("#messages").append('<li>'+msg+'</li>');
		console.log('Received message');
	});
	$('#sendbutton').on('click', function() {
		socket.send($('#myMessage').val());
		$('#myMessage').val('');
	});
	$('#commandbutton').on('click', function() {
		socket.emit('manual request');
		
		var elem = document.getElementById('commandbutton');
		if(elem.value === '0'){
			elem.value = '1';	
		elem.innerHTML = "Release control";
		}
		else{
			elem.value = '0';	
		elem.innerHTML = "Take control";
		}
	});
	$('#upbutton').on('click', function() {
		socket.send('Up');
		console.log('button up pressed');
	});
	$('#downbutton').on('click', function() {
		socket.send('down');
		console.log('button down pressed');
	});
	$('#rightbutton').on('click', function() {
		socket.send('right');
		console.log('button right pressed');
	});
	$('#leftbutton').on('click', function() {
		socket.send('left');
		console.log('button left pressed');
	});
});

$('myMessage').onkeydown = function(e){
y = e.keyCode
if(y == 37){
console.log("upp")
}
};
</script>
<ul id="messages"></ul>
<input type="text" id="myMessage">
<button id="sendbutton">Send</button>
<button id="commandbutton" value = '0'>Take control</button>
<button id="upbutton">Up</button>
<button id="downbutton">down</button>
<button id="rightbutton">right</button>
<button id="leftbutton">left</button>

<h1>Video streaming demo here</h1>
<img src="{{ url_for('video_feed') }}">

</body>
</html>
